fastapi
uvicorn[standard]
python-dotenv
jinja2

# --- Database ---
sqlalchemy>=2.0
psycopg2-binary
alembic

# --- Models & Schemas ---
pydantic>=2.0
pydantic-settings

# --- Authentication ---
passlib[bcrypt]
python-jose[cryptography]

# --- Utils ---
typing-extensions
httpx
PyYAML
email-validator
Pillow>=10.0.0

# --- AI Framework ---
agno
openai